/* Ikigai Chat Component Styles */
@import 'modern-normalize/modern-normalize.css';
body {
  background: linear-gradient(to bottom right, #f0fdf4, #eff6ff, #faf5ff);
  margin: 0;
  box-sizing: border-box;
  background-attachment: fixed;
  font-family: Helvetica, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Noto Color Emoji;
}

/* Animations */
@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
